.page {
    display: grid; 
    justify-content: center; 
    justify-items:center;
    font-family: 'Merriweather Sans', sans-serif;
}
.artifact {
    display: grid; 
    justify-content: center; 
    justify-items:center;
    font-family: 'Merriweather Sans', sans-serif; 
    background-color: rgb(250,250,250);
}
iframe {
    height:600px;
    width:750px; 
    box-shadow: 2px -1px 4px rgba(100,100,100,0.2); 
    border: none;
    
}

h1 {
    background-image: linear-gradient(to left, #20BDFF, #5433FF); 
    color:white; 
    padding: 6px; 
    width: 90%;
    text-align: center;
}